<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock %} - MyEnglish</title>
</head>
<body>
    <div id="wrapper">
    </div>
    <div id="container">
        <div id="judul">
            <p class="title">{% block judul %}{% endblock %} - Kumpulan Vocab </p>
            <div id="content">
                {% block content %}{% endblock%}
            </div>
        </div>
    </div>
</body>
</html>
