{% extends "wrapper/wrapper.html" %}
{% block title %}Adjective{% endblock %}
{% block judul %}Adjective{% endblock %}

{% block content %}
    <div id="index-wrapper">
        <div class="main-wrapper">
            <div class="box main-a">
                <a class="index-a" href="/adjective">
                    <div class="btn-a">Adjective</div>
                </a>
            </div>
            <div class="box main-b">
                <a class="index-a" href="/noun" >
                    <div class="btn-a">Noun</div>
                </a>
            </div>
            <div class="box main-c">
                <a class="index-a" href="/adverb">
                    <div class="btn-a">Adverb</div>
                </a>
            </div>
            <div class="box main-d">
                <a class="index-a" href="/verb">
                    <div class="btn-a">Verb</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}